* {
    ;
}
/*change text color? 
change font-family*/
.header {
    padding: 10px;
    color: #8D918D;
    font-family: monospace;
    background-color: #FC1582;

}

.header h1 {
    display: inline-block;
    font-size: 30px;

}

 .go {
    color: black;
}
ul {
    text-align: center;
    color: #8D918D;

}

li {
    display: inline;
    list-style: none;
    font-size: 20px;
    margin: 40px;
    
}

img {
    height: 300px;
    width: 300px;
}

#about-me-image {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
}


.content {
    width: 50%;
    display: inline-block;
    margin-left: 2px;
}

.float-left {
    float: left;
    margin: 20px;
    
}
